body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.big_father{
    background-image: url(./audio/hinh/tải\ xuống.jpg);
}

.nav_option{
}

.nav_bar{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: brown;
    width: 100%;
    height: fit-content;
}

.options{
    list-style-type: none;
}

.item_option{
    float: left;
    padding: 25px 0px 0px 20px;
}

.nav_logo{
    width: 100px;
    margin: auto auto;
    display: flex;
    justify-content: center;
}

.logo{
    width: 100%;
}

.nav_logo p{
    margin-top: 20px;
    margin-left: -20px;
    color: #666;
    font: 900 35px "Trebuchet MS", Arial, Helvetica, sans-serif;
    text-shadow: 1px 1px #000, 2px 2px #000, 3px 3px #000, 4px 4px #000;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition:all 0.2s ease-out;
    -o-tramsition:all 0.2s ease-out
    }


.nav_connet{
    text-align: center;
}

.connet_link{
    padding-top: 20px ;
    
}

.icon_hero{
    margin-right: 30px;
    width: 50px;
}

.icon_hero :hover{
    opacity: 0.6;
}